<a href="/categories/<%= category.id %>/products">
    <div>
        <h2><%= category.title %></h2>
        <p><%= category.description %></p>
        <div class="">
            <span class="">
                <p>Products: <%= category.product_count%> </p>
                <p>Low stock warnings: <%= category.low_warnings %> </p>
                <p>Critical stock warnings: <%= category.critical_warnings %> </p>
            </span>
        </div>
    </div>
</a>