<div class="filters-container">
    <form action="<%= action %>" method="GET" class="filter-form">
        <input 
            type="hidden" 
            name="sort" 
            value="<%= sort && sort %>" 
        />
        <label for="search" >Search by name</label>
        <div class="filter-form-field-container">
            <input 
                type="search" 
                id="search" 
                name="search"
                class="form-input"
                placeholder="Search..." 
                value="<%= search ? search : "" %>" 
                required 
            />
            <button 
                id="searchClear" 
                class="action-btn <%= search && "show" %>" 
                type="button"
            >Clear</button>
        </div>
    </form>
    
    <form action="<%= action %>" method="GET" class="filter-form">
        <input 
            type="hidden" 
            name="search" 
            value="<%= search && search %>" 
        />
        <label for="sort">Sort by</label>
        <div class="filter-form-field-container">
            <select 
                id="sort" 
                name="sort"
                class="form-input"
            >
                <% options.forEach(option => { %>
                    <option value="<%= option.id %>" <%= (Number(sort) === option.id && "selected") %>><%= option.label %></option>
                <% }) %>
            </select>
            <button 
                id="sortClear" 
                class="action-btn <%= sort && "show" %>" 
                type="button"
            >Clear</button>
        </div>
    </form>
    
    <div class="button-container">
        <button 
            id="filterSearch" 
            type="button" 
            class="action-btn"
        >Search</button>
        <button 
            id="filterClearAll" 
            type="button" 
            class="action-btn"
        >Clear All</button>
    </div>
</div>

<script>
    // Search button functionality for form
    document.getElementById("filterSearch").addEventListener("click", () => {
        const url = new URL(window.location);
        const searchField = document.getElementById("search");
        const searchText = searchField ? searchField.value : null;
        const sortField = document.getElementById("sort");
        const sortChoice = sortField ? sortField.value : null;

        searchText && url.searchParams.set("search", searchText);
        sortChoice && url.searchParams.set("sort", sortChoice);
        window.location.href = url.toString()
    });

    // Clear button functionality for form
    document.getElementById("filterClearAll").addEventListener("click", () => {
        const url = new URL(window.location);

        url.searchParams.delete("search");
        url.searchParams.delete("sort");
        window.location.href = url.toString();
    });

    // Clear button functionality for search field
    document.getElementById("searchClear").addEventListener("click", () => {
        const url = new URL(window.location);

        url.searchParams.delete("search");
        window.location.href = url.toString();
    });

    // Clear button functionality for sort field
    document.getElementById("sortClear").addEventListener("click", () => {
        const url = new URL(window.location);

        url.searchParams.delete("sort");
        window.location.href = url.toString();
    });

    // Reload the page with new sort query parameter after selecting sort option
    document.getElementById("sort").addEventListener("change", (e) => {
        const selectedParam = e.target.value;
        const url = new URL(window.location);

        url.searchParams.set("sort", selectedParam);
        window.location.href = url.toString();
    });
</script>

<style>
    .filters-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .filter-form {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .filter-form-field-container {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 8px;
    }
</style>