<div>
    <h2><%= product.title %></h2>
    <p><%= product.description %></p>
    <div class="">
        <span class="">
            <p>$<%= product.sale_price%></p>
            <div class="">
                <p>Stock count: <%= product.stock_count %></p>
                <!-- Icon representing stockCount compared to threshold difference -->
            </div>
        </span>
        <span class="">
            <a href="/categories/<%= category.id %>/products/<%= product.id %>/edit">Edit</a>
            <a href="/categories/<%= category.id %>/products/<%= product.id %>/delete">Delete</a>
        </span>
    </div>
</div>