
<h1><%= title %></h1>

<form action="/categories" method="GET">
    <input type="search" id="search" name="search" placeholder="Search by category name" value="<%= search && search %>" required />
    <button id="searchClear" type="reset">Clear</button>
    <button type="submit">Search</button>
</form>


<div class="horizontalContainer">
    <%- include("./partials/sortByButton", { options, sortID }) %>
    <a href="/categories/new">Create new category</a>
</div>
<p><%= categories.length %> categories</p>
<% if (categories.length > 0) { %>
    <ul>
        <% categories.forEach(category => {%>
            <li><%- include("./partials/categoryCard", { category: category }) %></li>
        <% }); %>
    </ul>
<% } else { %>
    <p>No results for "<%= search %>" found</p>
<% } %>

<script>
    // Clear button functionality for form
    document.getElementById("searchClear").addEventListener("click", () => {
        const url = new URL(window.location);

        url.searchParams.delete("search");
        window.location.href = url.toString();
    });
</script>