
<h1><%= title %></h1>

<%- include("./partials/filters", { action, search, sort, options }) %>

<p><%= categories.length %> categories</p>
<% if (categories.length > 0) { %>
    <ul>
        <% categories.forEach(category => {%>
            <li><%- include("./partials/categoryCard", { category }) %></li>
        <% }); %>
    </ul>
<% } else { %>
    <p>No results for "<%= search %>" found</p>
<% } %>