<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <form>
            <input type="text" id="search" placeholder="Search by category name" />
        </form>
        <div class="horizontalContainer">
            <!-- TODO: Replace this with partial -->
            <div>Sort by: <%= sort %></div>
            <a href="/categories/new">Create new category</a>
        </div>
        <p><%= categories.length %> categories</p>
        <ul>
            <% categories.forEach(category => {%>
                <li><%- include("./partials/categoryCard", { category: category }) %></li>
            <% }); %>
        </ul>
    </body>
</html>