
<h1><%= title %></h1>

<%- include("./partials/filters", { action, search, sort, options }) %>
<a href="/categories/new">Create new category</a>

<p><%= categories.length %> categories</p>
<% if (categories.length > 0) { %>
    <ul class="category-card-grid">
        <% categories.forEach(category => {%>
            <li><%- include("./partials/categoryCard", { category }) %></li>
        <% }); %>
    </ul>
<% } else { %>
    <p>No results for "<%= search %>" found</p>
<% } %>

<style>
    .category-card-grid {
        display: grid;
        gap: 20px;

        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
</style>