<a href="/categories" class="back-link"><- Back to categories</a>
<h1><%= title %></h1>
<p class="category-description"><%= category.description %></p>
<p><%= category.product_count%> products</p>
<%- include("./partials/warnings", { 
    no_warnings: Number(category.product_count) - (Number(category.low_warnings) + Number(category.critical_warnings)),
    low_warnings: category.low_warnings,
    critical_warnings: category.critical_warnings
}) %>
<a href="/categories/<%= categoryID %>/products/new" class="create-button">Create new product</a>

<%- include("./partials/filters", { action, search, sort, options }) %>

<p><%= products.length %> products</p>
<ul>
    <% products.forEach(product => {%>
        <li><%- include("./partials/productCard", { product: product }) %></li>
    <% }); %>
</ul>

<script>
    // Clear button functionality for form
    document.getElementById("searchClear").addEventListener("click", () => {
        const url = new URL(window.location);

        url.searchParams.delete("search");
        window.location.href = url.toString();
    });
</script>

<style>
    .category-description {
        color: #777777;

        font-size: 1.4rem;
    }
</style>