<a href="/categories" class="back-link"><- Back to categories</a>
<h1>
    <%= title %>
</h1>
<p class="page-description">
    <%= category.description %>
</p>

<%- include("./partials/warnings", {
    count_text: category.product_count,
    no_warnings: Number(category.product_count) - (Number(category.low_warnings) + Number(category.critical_warnings)),
    low_warnings: category.low_warnings,
    critical_warnings: category.critical_warnings
}) %>

<span class="button-container">
    <a class="item-action-btn" href="/categories/<%= category.id %>/edit">
        <img src="/edit-icon.svg" alt="edit-icon" class="item-action-icon" />
    </a>
    <a class="item-action-btn" href="/categories/<%= category.id %>/delete">
        <img src="/delete-icon.svg" alt="delete-icon" class="item-action-icon" />
    </a>
    <a href="/categories/<%= category.id %>/products/new" class="create-button">Create new product</a>
</span>

<%- include("./partials/filters", { action, search, sort, options }) %>

<div class="results-container">
    <p class="results-counter">
        <%= products.length %> products
    </p>
    <% if (products.length > 0) { %>
        <ul class="card-grid">
            <% products.forEach(product => { %>
                <li>
                    <%- include("./partials/productCard", { product }) %>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No results for "<%= search %>" found</p>
    <% } %>
</div>