<a href="/categories" class="back-link"><- Back to categories</a>
<h1><%= title %></h1>
<p class="page-description"><%= category.description %></p>

<%- include("./partials/warnings", { 
    count_text: category.product_count,
    no_warnings: Number(category.product_count) - (Number(category.low_warnings) + Number(category.critical_warnings)),
    low_warnings: category.low_warnings,
    critical_warnings: category.critical_warnings
}) %>
<a href="/categories/<%= categoryID %>/products/new" class="create-button">Create new product</a>

<%- include("./partials/filters", { action, search, sort, options }) %>

<div class="results-container">
    <p><%= products.length %> products</p>
    <ul>
        <% products.forEach(product => {%>
            <li><%- include("./partials/productCard", { product: product }) %></li>
        <% }); %>
    </ul>
</div>

<script>
    // Clear button functionality for form
    document.getElementById("searchClear").addEventListener("click", () => {
        const url = new URL(window.location);

        url.searchParams.delete("search");
        window.location.href = url.toString();
    });
</script>

<style>
</style>