<a href="/categories" class="back-link"><- Back to categories</a>
<h1><%= title %></h1>
<form action="/categories/new" method="POST" id="create-category-form" class="page-form">
    <p class="page-form-context">Required fields are marked with (*)</p>
    
    <div class="page-form-field-container">
        <label for="title">Title *</label>
        <p class="page-form-field-context">Max length: <%= title_max_length %></p>
        <input
            type="text"
            name="title"
            id="title"
            maxlength="<%= title_max_length %>"
            value="<%= category.title ? category.title : '' %>"
            required
        >
        <% if (locals.errors) { %>
            <%- include("./partials/fieldErrors", { errors: errors, selector: "title" }) %>
        <% } %>
    </div>

    <div class="page-form-field-container">
        <label for="description">Description *</label>
        <p class="page-form-field-context">Max length: <%= description_max_length %></p>
        <textarea 
            name="description" 
            id="description" 
            maxlength="<%= description_max_length %>" 
            rows="5"
            required
        ><%= category.description ? category.description : '' %></textarea>
        <% if (locals.errors) { %>
            <%- include("./partials/fieldErrors", { errors: errors, selector: "description" }) %>
        <% } %>
    </div>
</form>

<div class="button-container">
    <button type="submit" form="create-category-form" class="action-btn">Create new category</button>
    <a href="/categories" class="action-btn">Cancel</a>
</div>