<a href="/categories" class="back-link"><- Back to categories</a>
<h1><%= title %></h1>
<form action="/categories/new" method="POST" id="create-category-form" class="page-form">
    <% 
        const titleErrors = locals.errors ? errors.filter(x => x.path === "title") : [];
        const descriptionErrors = locals.errors ? errors.filter(x => x.path === "description") : [];
    %>

    <p class="page-form-context">Required fields are marked with (*)</p>

    <div class="page-form-field-container">
        <label for="title" class="page-form-label">Title *</label>
        <ul class="page-form-field-guidelines">
            <li class="page-form-field-guideline">Max length of <%= title_max_length %> characters</li>
        </ul>
        
        <input
            type="text"
            name="title"
            id="title"
            class="form-input <%= titleErrors.length > 0 ? 'invalid-form-input' : '' %>"
            maxlength="<%= title_max_length %>"
            value="<%= category.title ? category.title : '' %>"
            required
        >
        <%- include("./partials/fieldErrors", { errors: titleErrors }) %>
    </div>

    <div class="page-form-field-container">
        <label for="description">Description *</label>
        <ul class="page-form-field-guidelines">
            <li class="page-form-field-guideline">Max length of <%= description_max_length %> characters</li>
        </ul>
        
        <textarea 
            name="description" 
            id="description" 
            class="form-input <%= descriptionErrors.length > 0 ? 'invalid-form-input' : '' %>"
            maxlength="<%= description_max_length %>" 
            rows="5"
            required
        ><%= category.description ? category.description : '' %></textarea>
        <%- include("./partials/fieldErrors", { errors: descriptionErrors }) %>
    </div>
</form>

<div class="button-container">
    <button type="submit" form="create-category-form" class="action-btn">Create new category</button>
    <a href="/categories" class="action-btn">Cancel</a>
</div>