<h1><%= title %></h1>
<p>Required fields are marked with (*)</p>
<form action="/categories/new" method="POST" id="create-category-form">
    <% if (locals.errors) { %>
        <ul>
            <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>
    
    <label for="categoryTitle">Title *</label>
    <p>Max length: <%= title_max_length %></p>
    <input 
        type="text" 
        name="categoryTitle" 
        id="categoryTitle" 
        maxlength="<%= title_max_length %>" 
        required
    >

    <label for="categoryDescription">Description *</label>
    <p>Max length: <%= description_max_length %></p>
    <textarea 
        name="categoryDescription" 
        id="categoryDescription" 
        maxlength="<%= description_max_length %>" 
        rows="5"
        required
    ></textarea>
</form>

<a href="/categories">Cancel</a>
<button type="submit" form="create-category-form">Create new category</button>