<a href="/categories/<%= categoryID %>/products">Back to category</a>
<h1><%= title %></h1>
<form action="/categories/<%= categoryID %>/products/new" method="POST" id="create-product-form">
    <p>Required fields are marked with (*)</p>
    
    <label for="title">Title *</label>
    <p>Max length: <%= title_max_length %></p>
    <input 
        type="text" 
        name="title" 
        id="title" 
        max="<%= title_max_length %>"
        value="<%= product.title && product.title %>"
        required
    >
    <% if (locals.errors) { %>
        <%- include("./partials/fieldErrors", { errors: errors, selector: "title" }) %>
    <% } %>

    <label for="description">Description *</label>
    <p>Max length: <%= description_max_length %></p>
    <textarea
        name="description" 
        id="description" 
        rows="5"
        max="<%= description_max_length %>"
        required
    ><%= product.description ? product.description : '' %></textarea>
    <% if (locals.errors) { %>
        <%- include("./partials/fieldErrors", { errors: errors, selector: "description" }) %>
    <% } %>

    <label for="sale_price">Sale Price *</label>
    <p>Min: <%= min_sale_price %></p>
    <p>Max: <%= max_sale_price %></p>
    <input 
        type="number" 
        name="sale_price" 
        id="sale_price" 
        min="<%= min_sale_price %>"
        max="<%= max_sale_price %>"
        step="0.01"
        value="<%= product.sale_price && product.sale_price %>"
        required
    >
    <% if (locals.errors) { %>
        <%- include("./partials/fieldErrors", { errors: errors, selector: "sale_price" }) %>
    <% } %>

    <label for="stock_count">Stock Count *</label>
    <p>Min: <%= min_stock_count %></p>
    <p>Max: <%= max_stock_count %></p>
    <input 
        type="number" 
        name="stock_count" 
        id="stock_count" 
        min="<%= min_stock_count %>"
        max="<%= max_stock_count %>"
        value="<%= product.stock_count && product.stock_count %>"
        required
    >
    <% if (locals.errors) { %>
        <%- include("./partials/fieldErrors", { errors: errors, selector: "stock_count" }) %>
    <% } %>

    <label for="low_stock_count">Low Stock Count *</label>
    <p>A low stock warning will be indicated when product stock reaches this number</p>
    <p>Min: <%= min_stock_count %></p>
    <p>Max: <%= max_stock_count %></p>
    <input 
        type="number" 
        name="low_stock_count" 
        id="low_stock_count" 
        min="<%= min_stock_count %>"
        max="<%= max_stock_count %>"
        value="<%= product.low_stock_count && product.low_stock_count %>"
        required
    >
    <% if (locals.errors) { %>
        <%- include("./partials/fieldErrors", { errors: errors, selector: "low_stock_count" }) %>
    <% } %>

    <label for="critical_stock_count">Critical Stock Count *</label>
    <p>A critical stock warning will be indicated when product stock reaches this number</p>
    <p>Min: <%= min_stock_count %></p>
    <p>Max: <%= max_stock_count %></p>
    <input 
        type="number" 
        name="critical_stock_count" 
        id="critical_stock_count" 
        min="<%= min_stock_count %>"
        max="<%= max_stock_count %>"
        value="<%= product.critical_stock_count && product.critical_stock_count %>"
        required
    >
    <% if (locals.errors) { %>
        <%- include("./partials/fieldErrors", { errors: errors, selector: "critical_stock_count" }) %>
    <% } %>
</form>

<a href="/categories/<%= categoryID %>/products">Cancel</a>
<button type="submit" form="create-product-form">Add new product</button>