<h1><%= title %></h1>
<p>Enter password to delete "<%= product.title %>" from the "<%= category.title %>" category</p>
<form action="/categories/<%= category.id %>/products/<%= product.id %>/delete" method="POST" id="delete-product-form">
    <% if (locals.errors) { %>
        <ul>
            <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>
    
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
</form>
<a href="/categories/<%= category.id %>/products">Cancel</a>
<button type="submit" form="delete-product-form">Delete</button>