<a href="/categories/<%= categoryID %>/products" class="back-link"><- Back to category</a>
<h1><%= title %></h1>
<h2 class="page-form-context">
    Fill out fields and enter password to edit the "<%= defaultTitle %>" category
</h2>
<form action="/categories/<%= categoryID %>/edit" method="POST" id="edit-category-form" class="page-form">
    <p class="page-form-context">
        Required fields are marked with (*)
    </p>

    <div class="page-form-field-container">
        <label for="title">Title *</label>
        <p class="page-form-field-context">Max length: 256</p>
        <% const titleErrors = locals.errors ? errors.filter(x => x.path === "title") : [] %>
        <input
            type="text"
            name="title"
            id="title"
            class="form-input <%= titleErrors.length > 0 ? 'invalid-form-input' : '' %>"
            maxlength="<%= title_max_length %>"
            value="<%= category.title %>"
            required
        >
        <%- include("./partials/fieldErrors", { errors: titleErrors }) %>
    </div>

    <div class="page-form-field-container">
        <label for="description">Description *</label>
        <p class="page-form-field-context">Max length: 1024</p>
        <% const descriptionErrors = locals.errors ? errors.filter(x => x.path === "description") : [] %>
        <textarea
            name="description"
            id="description"
            class="form-input <%= descriptionErrors.length > 0 ? 'invalid-form-input' : '' %>"
            maxlength="<%= description_max_length %>"
            rows="5"
            required
        ><%= category.description %></textarea>
        <%- include("./partials/fieldErrors", { errors: descriptionErrors }) %>
    </div>

    <div class="page-form-field-container">
        <label for="password">Enter password to continue</label>
        <% const passwordErrors = locals.errors ? errors.filter(x => x.path === "password") : [] %>
        <input 
            type="password" 
            name="password" 
            id="password"
            class="form-input <%= passwordErrors.length > 0 ? 'invalid-form-input' : '' %>"
            required
        >
        <%- include("./partials/fieldErrors", { errors: passwordErrors }) %>
    </div>
</form>
<div class="button-container">
    <button type="submit" form="edit-category-form" class="action-btn">Save Changes</button>
    <a href="/categories/<%= categoryID %>/products" class="action-btn">Cancel</a>
</div>