<h1><%= title %></h1>
<p>Fill out fields and enter password to edit the "<%= category.title %>" category</p>
<form action="/categories/<%= categoryID %>/edit" method="POST" id="edit-category-form">
    <p>Required fields are marked with (*)</p>
    <% if (locals.errors) { %>
        <ul>
            <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>
    
    <label for="title">Title *</label>
    <p>Max length: 256</p>
    <input 
        type="text" 
        name="title" 
        id="title" 
        maxlength="<%= title_max_length %>" 
        value="<%= category.title %>"
        required
    >

    <label for="description">Description *</label>
    <p>Max length: 1024</p>
    <textarea 
        name="description" 
        id="description" 
        maxlength="<%= description_max_length %>" 
        rows="5"
        required
    ><%= category.description %></textarea>

    <label for="password">Enter password to continue</label>
    <input type="password" name="password" id="password" required>
</form>
<a href="/categories">Cancel</a>
<button type="submit" form="edit-category-form">Save Changes</button>